<%= action_title 'Nossos desejos' %>
<%= link_to 'Faça um desejo', new_wish_path %>
<table id="wishes">
  <thead>
  <tr>
    <th>Desejo</th>
    <th>Price</th>
  </tr>
  </thead>
  <tbody>
  <% @wishes.each do |wish| %>
    <tr>
      <td class="item"><%= wish.item %></td>
      <td class="price"><%= wish.price %></td>
    </tr>
  <% end %>
  </tbody>
</table>
