Bem vindo ao Cartolla!
Por favor clique no link abaixo para confirmar seu cadastro.
<p><%= link_to 'Link de confirmação', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

No Cartolla, você manda seus desejos, e torce para que uma loja online os atenda. Estamos na torcida com você!

Até mais,
Equipe Cartolla
www.cartolla.com.br
